body {
  background-color: #F29393;
}
.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px; 
}
.content {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}
.add {
  background-color: #554994;
  margin-top: 20px;
  color: white;
}
.delete {
  background-color: #F675A8;
}
button {
  padding: 10px 20px;

  border: none;
  border-radius: 10px;
}
h1, li, input, button {
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 23px;
}
button {
  font-size: 13px;
}
input {
  font-size: 13px;
}
li {
  font-size: 13px;
}
.crossed {
  text-decoration: line-through;
}
.simpleList {
  list-style-image: url("add.jpg"); 
  list-style-position: inside;
}
input {
  padding: 10px;
  flex: 1;
}